<!DOCTYPE html>
<html lang="en">

<head>

    <title>Hack With Suraj -courses</title>
    <link rel="icon" type="image/x-icon" href="/favicon/favicon.ico">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Learn coding, hacking, and cybersecurity to protect yourself from hackers. Explore technology tips, coding practices, and ethical hacking using EJS. Strengthen your digital defenses and safeguard your online presence.">
    <meta name="keywords"
        content="cybersecurity, online privacy, technology, coding, learn coding, learn hacking, learn cybersecurity, digital security">
    <meta name="author" content="Hack With Suraj">
    
    <!-- Learn Coding, Hacking, Cybersecurity, and Technology Meta Tags -->
    <meta name="category" content="Technology">
    <meta name="subject" content="Coding, Hacking, Cybersecurity">
    <meta name="tutorial" content="Learn coding, hacking, and cybersecurity with practical tips and guides.">
    <meta name="education" content="Coding, Hacking, Cybersecurity">
    <meta name="learning-path" content="Beginner to Advanced">
    <meta name="skill-level" content="All levels">

    <!-- Search Engine Crawling -->
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow">

    <!-- Page Level Social Media Tags -->
    <meta property="og:title" content="Learn Coding, Hacking, and Cybersecurity: Guarding Your Digital Fortress">
    <meta property="og:description"
        content="Explore this comprehensive guide to learn coding, hacking, and cybersecurity. Discover technology tips, coding practices, and ethical hacking using EJS to strengthen your digital defenses and safeguard your online presence.">
    <meta property="og:image" content="your-image-url.jpg">
    <meta property="og:url" content="your-blog-url">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@HackWithsuraj">
    <meta name="twitter:title" content="Learn Coding, Hacking, and Cybersecurity: Guarding Your Digital Fortress">
    <meta name="twitter:description"
        content="Explore this comprehensive guide to learn coding, hacking, and cybersecurity. Discover technology tips, coding practices, and ethical hacking using EJS to strengthen your digital defenses and safeguard your online presence.">
    <meta name="twitter:image" content="your-image-url.jpg">

</head>

<body>
    <!-- Header -->
    <%- include('../public/comp/Header')%>

            <!-- Hack With Suraj   -->
            <%- include('../public/comp/Hero')%>



            <section class="bg-gray-100 py-8">
                <div class="container mx-auto px-2 pt-4 pb-12 text-gray-800">
        
                    <h1 class="w-full my-2 text-5xl font-bold leading-tight text-center text-gray-800">Courses</h1>
                    <div class="w-full mb-4">
                        <div class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"></div>
                    </div>
                    <div class="flex flex-col sm:flex-row justify-center pt-12 my-12 sm:my-4">
        
                        <div class="flex flex-col w-5/6 lg:w-1/3 mx-auto lg:mx-0 rounded-lg bg-white mt-4 sm:-mt-6 shadow-lg z-10">
                            <div class="flex-1 bg-white rounded-t rounded-b-none overflow-hidden shadow">
                                <div class="w-full p-8 text-3xl font-bold text-center"> How to Protect Yourself from Hackers ?</div>
                                <div class="h-1 w-full gradient my-0 py-0 rounded-t"></div>
                                <ul class="w-full text-center text-base font-bold">
                                    <li class="border-b py-4">
                                        How to secure passwords and account details</li>
                                    <li class="border-b py-4">VPN Basic to get started</li>
                                    <li class="border-b py-4">how to become Anonymous</li>
                                    <li class="border-b py-4">Amazing industrial level project</li>
                                </ul>
                            </div>
                            <div class="flex-none mt-auto bg-white rounded-b rounded-t-none overflow-hidden shadow p-6">
                                <div class="w-full pt-6 text-4xl font-bold text-center">Suraj Yadav ,<span class="text-base">Full stack developer</span></div>
                                <div class="flex items-center justify-center">
                                    <button class="mx-auto lg:mx-0 hover:underline gradient bg-black text-white font-bold rounded-full my-6 py-4 px-8 shadow-lg">Enroll</button>
                                </div>
                            </div>
                        </div>
               
                    </div>
        
                </div>
        
        
            </section>


                    <!-- footer -->
                    <%- include('../public/comp/Footer')%>

                        <!-- All script -->
                        <script src="/js/index.js"></script>
</body>

</html>