<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hack With suraj -404</title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body>
    <style>
        
/*======================
    404 page
=======================*/


.page_404 {
    padding: 40px 0;
    background: #fff;
    display: flex;
    font-family: 'Arvo', serif;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.page_404  img{ width:100%;}

.container{
    width: 100%;
    margin: 21rem 0rem;
}
.four_zero_four_bg{
    height: 16rem;
    background-position: center;
 }
 
 
 .four_zero_four_bg h1{
    font-size: 3rem;
    font-weight: bolder;
 }
 
  .four_zero_four_bg h3{
    font-size: 3rem;
    font-weight: bolder;
			 }
			 
			 .link_404{			 
	color: #fff!important;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;}
	.contant_box_404{ margin-top:-50px;}
    </style>
    <section class="page_404">
        <div class="container">
            <div class="row">	
            <div class="col-sm-12 ">
            <div class="col-sm-10 col-sm-offset-1  text-center">
            <div class="four_zero_four_bg">
                <h3 class="text-center "><%= exist %></h3>
            
            
            </div>
            
            <div class="contant_box_404">
            <h3 class="h2">
                please fill valid details
            </h3>
            
   
            
            <a href="/" class="link_404">Go to Home</a>
        </div>
            </div>
            </div>
            </div>
        </div>
    </section>
</body>
</html>